body {
  background-color: pink;
}

.grid {
  height: 400px;
  width: 400px;
}

.square {
  padding: 10px;
  margin: 10px;
  background-color: mediumturquoise;
  display: inline-flex;
  height: 70px;
  width: 70px;
  border-radius: 8px;
  vertical-align: top;
}
